<!DOCTYPE html>
<html lang="en">
<head>
<title>Docker Teaches Code</title>
<style type="text/css" media="screen">
    #toolbar {
        border: 1px solid lightgray;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50px;
        left: 0;
        width: 80%;
        height: 38px;
    }
    #editor { 
        position: absolute;
        top: 38px;
        right: 0;
        bottom: 30%;
        left: 0;
    }
    #output {
        position: absolute;
        top: 70%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
    }
</style>
</head>
<body>

<div id="editor">{{.Content}}</div>
<div>
    <label id="output">
    </label>
</div>
<script src="static/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/"+{{.DefaultId}})
    var refs = {};
    function run() {
        var lang = document.getElementById("languages").value;
        var url = "http://localhost:8080/run/";
        var xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 ) {
                if ( xhr.status === 200) {
                    document.getElementById("output").textContent = xhr.responseText;
                } else {
                    document.getElementById("output").textContent = "Error: " + xhr.responseText;
                }
            }
        };
        xhr.send(JSON.stringify({
            lang: lang,
            code: editor.getValue()
        }));
    }
    function change() {
        var lang = document.getElementById("languages").value;
        var url = "http://localhost:8080/sample/?lang="+lang;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 ) {
                if ( xhr.status === 200) {
                    editor.session.setValue(xhr.responseText);
                    editor.session.setMode("ace/mode/"+lang)
                } else {
                    document.getElementById("output").textContent = "Error: " + xhr.responseText;
                }
            }
        };
        xhr.send();
    }
    buildDom(["div", { class: "toolbar" },
        ["button", { onclick: run }, "Run"],
        ["select", {
                id: "languages",
                onchange: change
            },
        {{range .Languages}}
            ["option", { value: "{{.Id}}" }, "{{.Name}}" ],
        {{end}}
        ]
    ], document.body, refs);
    document.body.appendChild(editor.container)
    
    window.editor = editor;

function buildDom(arr, parent, refs) {
    if (typeof arr == "string" && arr) {
        var txt = document.createTextNode(arr);
        if (parent)
            parent.appendChild(txt);
        return txt;
    }
    
    if (!Array.isArray(arr))
        return arr;
    if (typeof arr[0] != "string" || !arr[0]) {
        var els = [];
        for (var i = 0; i < arr.length; i++) {
            var ch = buildDom(arr[i], parent, refs);
            ch && els.push(ch);
        }
        return els;
    }
    
    var el = document.createElement(arr[0]);
    var options = arr[1];
    var childIndex = 1;
    if (options && typeof options == "object" && !Array.isArray(options)) {
        childIndex = 2;
        Object.keys(options).forEach(function(n) {
            var val = options[n];
            if (n === "class") {
                el.className = Array.isArray(val) ? val.join(" ") : val;
            } else if (typeof val == "function") {
                el[n] = val;
            } else if (n === "ref") {
                if (refs) refs[val] = el;
            } else {
                el.setAttribute(n, val);
            }
        });
    }
    for (var i = childIndex; i < arr.length; i++)
        buildDom(arr[i], el, refs);
    if (parent)
        parent.appendChild(el);
    return el;
};

</script>
</body>
</html>
